$current.dateTime&v0=---&v0=---&v0=$station.location&v0=$station.altitude.formatted&v0=$current.outTemp.formatted&v0=$current.outHumidity.formatted&v0=$current.barometer.formatted&v0=$current.windSpeed.formatted&v0=$current.windDir.ordinal_compass&v0=$day.rain.sum.formatted&v0=$day.outTemp.min.formatted&v0=$day.outTemp.max.formatted&v0=$day.wind.max.formatted&v0=$current.rainRate.formatted
