<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link href="/build.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-50">
    <div class="max-w-[400px] m-10 text-gray-950">
      <h1 class="text-3xl">MeteoCentroCadore.it</h1>
      <p class="text-xl mb-5">
        $current.dateTime $current.dateTime.format("%Z")
      </p>

      <p class="text-lg">Temperatura esterna: $current.outTemp</p>
      <p class="text-lg">Umidità: $current.outHumidity</p>
      <p class="text-lg">Vento: $current.windSpeed</p>
      <p class="text-lg">Rain Rate: $current.rainRate</p>

      <p class="text-xl mt-3">Da mezzanotte</p>
      <p class="text-lg">
        Temperatura max: $day.outTemp.max $day.outTemp.maxtime
      </p>
      <p class="text-lg">
        Temperatura min: $day.outTemp.min $day.outTemp.mintime
      </p>
      <p class="text-lg">Vento max: $day.wind.max $day.wind.maxtime</p>
      <p class="text-lg">Pioggia totale: $day.rain.sum</p>
      <div class="my-7">
        <?php require_once('./webcam_rename.php'); ?>
      </div>
    </div>
  </body>
</html>
