#set global $page = "month"

<!DOCTYPE html>

<html class="no-js">
  #include "templates/head.html.tmpl"

  <body>
    <!-- Header -->
    #include "templates/header.html.tmpl"
    <!-- End header -->

    <main class="mx-4">
      <div
        class="container mx-auto grid grid-cols-1 lg:grid-cols-5 gap-6 py-4"
      >
        <div class="lg:col-span-2">
          <div class="bg-weather-cool/6 rounded-2xl">
            <h1 class="text-xl text-gray-800 px-4 pt-4">
              $obs.label.thisMonth ($month.dateTime.format("%B %Y"))
            </h1>

            <table class="w-full table-fixed border-collapse mt-2">
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outTemp $obs.label.maxF:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.outTemp.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.outTemp.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outTemp $obs.label.minF:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.outTemp.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.outTemp.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.rain $obs.label.total:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.rain.sum
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                ></td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.rainRate $obs.label.maxM:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.rainRate.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.rainRate.maxtime
                </td>
              </tr>

              <tr>
                <!--          <tr>

            <td>High Heat Index</td>

            <td>$month.heatindex.max</td>

            <td>$month.heatindex.maxtime</td>

          </tr>   -->
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outHumidity $obs.label.maxF:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.outHumidity.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.outHumidity.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outHumidity $obs.label.minF:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.outHumidity.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.outHumidity.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.barometer $obs.label.maxM:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.barometer.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.barometer.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.barometer $obs.label.minM:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.barometer.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.barometer.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.windSpeed $obs.label.maxF:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.wind.max <br />$month.wind.gustdir
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.wind.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.windChill $obs.label.minM:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.windchill.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.windchill.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.dewPoint $obs.label.maxM:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.dewpoint.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.dewpoint.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.dewPoint $obs.label.minM:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.dewpoint.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.dewpoint.mintime
                </td>
              </tr>

              <!--        <tr>

            <td>Average Wind</td>

            <td>$month.wind.avg</td>

            <td></td>

          </tr>

          <tr>

            <td>RMS Wind</td>

            <td>$month.wind.rms</td>

            <td></td>

          </tr>

          <tr>

            <td>Vector Average Speed</td>

            <td>$month.wind.vecavg</td>

            <td></td>

          </tr>

          <tr>

            <td>Vector Average Direction</td>

            <td>$month.wind.vecdir</td>

            <td></td>

          </tr>

          <tr>

            <td>High Inside Temperatura</td>

            <td>$month.inTemp.max</td>

            <td>$month.inTemp.maxtime</td>

          </tr>-->

              #if $month.extraTemp1.has_data

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.extraTemp1 $obs.label.maxF:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.extraTemp1.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.extraTemp1.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.extraTemp1 $obs.label.minF:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.extraTemp1.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.extraTemp1.mintime
                </td>
              </tr>

              <!-- prettier-ignore -->
              #end if 
              #if $month.UV.has_data
              <!-- prettier-ignore-end -->
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.UV $obs.label.maxM:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.UV.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.UV.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.UV $obs.label.minM:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.UV.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.UV.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 

              #if $month.ET.has_data and $month.ET.sum.raw > 0.0
              <!-- prettier-ignore-end -->

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.ET $obs.label.maxF:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.ET.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.ET.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.ET $obs.label.minF:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.ET.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.ET.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $month.radiation.has_data
              <!-- prettier-ignore-end -->

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.radiation $obs.label.maxF:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.radiation.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month.radiation.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10 group">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 pl-4 group-hover:rounded-bl-2xl"
                >
                  $obs.label.radiation $obs.label.minF:
                </td>
                <td class="py-2 text-gray-900">$month.radiation.min</td>
                <td
                  class="py-2 text-gray-900 group-hover:rounded-br-2xl"
                >
                  $month.radiation.mintime
                </td>
              </tr>
              #end if
            </table>
          </div>

          <div class="bg-weather-cool/6 mt-4 rounded-2xl">
            <h1 class="text-xl text-gray-800 px-4 pt-4">
              $obs.label.lastMonth ($month($months_ago=1).dateTime.format("%B %Y"))
            </h1>

            <table class="w-full table-fixed border-collapse mt-2">
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outTemp $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).outTemp.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).outTemp.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outTemp $obs.label.minF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).outTemp.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).outTemp.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.heatIndex $obs.label.maxM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).heatindex.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).heatindex.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.windChill $obs.label.minM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).windchill.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).windchill.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.dewPoint $obs.label.maxM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).dewpoint.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).dewpoint.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.dewPoint $obs.label.minM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).dewpoint.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).dewpoint.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outHumidity $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).outHumidity.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).outHumidity.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outHumidity $obs.label.minF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).outHumidity.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).outHumidity.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.barometer $obs.label.maxM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).barometer.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).barometer.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.barometer $obs.label.minM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).barometer.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).barometer.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.rain $obs.label.total:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).rain.sum
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                ></td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.rainRate $obs.label.maxM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).rainRate.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).rainRate.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.windSpeed $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).wind.max
                  <br />$month($months_ago=12).wind.gustdir
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=1).wind.maxtime
                </td>
              </tr>

              <!--            <tr>

                <td>Average Wind</td>

                <td>$month($months_ago=12).wind.avg</td>

                <td></td>

              </tr>

              <tr>

                <td>RMS Wind</td>

                <td>$month($months_ago=12).wind.rms</td>

                <td></td>

              </tr>

              <tr>

                <td>Vector Average Speed</td>

                <td>$month($months_ago=12).wind.vecavg</td>

                <td></td>

              </tr>

              <tr>

                <td>Vector Average Direction</td>

                <td>$month($months_ago=12).wind.vecdir</td>

                <td></td>

              </tr>-->

              #if $month($months_ago=12).extraTemp1.has_data

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.extraTemp1 $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).extraTemp1.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).extraTemp1.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.extraTemp1 $obs.label.minF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).extraTemp1.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).extraTemp1.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $month($months_ago=12).UV.has_data
              <!-- prettier-ignore-end -->
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.UV $obs.label.maxM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).UV.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).UV.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.UV $obs.label.minM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).UV.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).UV.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $month($months_ago=12).ET.has_data and $month.ET.sum.raw > 0.0
              <!-- prettier-ignore-end -->

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.ET $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).ET.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).ET.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.ET $obs.label.minF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).ET.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).ET.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $month($months_ago=12).radiation.has_data
              <!-- prettier-ignore-end -->

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.radiation $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).radiation.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).radiation.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10 group">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 pl-4 group-hover:rounded-bl-2xl"
                >
                  $obs.label.radiation $obs.label.minF:
                </td>

                <td class="py-2 text-gray-900">
                  $month($months_ago=12).radiation.min
                </td>

                <td
                  class="py-2 text-gray-900 group-hover:rounded-br-2xl"
                >
                  $month($months_ago=12).radiation.mintime
                </td>
              </tr>

              #end if
            </table>
          </div>

          <div class="bg-weather-cool/6 mt-4 rounded-2xl">
            <h1 class="text-xl text-gray-800 px-4 pt-4">
              <i class="fa fa-calendar m-orange"></i>
              $month($months_ago=12).dateTime.format("%B %Y")
            </h1>

            <table class="w-full table-fixed border-collapse mt-2">
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outTemp $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).outTemp.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).outTemp.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outTemp $obs.label.minF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).outTemp.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).outTemp.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.heatIndex $obs.label.maxM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).heatindex.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).heatindex.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.windChill $obs.label.minM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).windchill.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).windchill.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.dewPoint $obs.label.maxM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).dewpoint.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).dewpoint.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.dewPoint $obs.label.minM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).dewpoint.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).dewpoint.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outHumidity $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).outHumidity.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).outHumidity.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.outHumidity $obs.label.minF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).outHumidity.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).outHumidity.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.barometer $obs.label.maxM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).barometer.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).barometer.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.barometer $obs.label.minM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).barometer.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).barometer.mintime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.rain $obs.label.total:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).rain.sum
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                ></td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.rainRate $obs.label.maxM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).rainRate.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).rainRate.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.windSpeed $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).wind.max
                  <br />$month($months_ago=12).wind.gustdir
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).wind.maxtime
                </td>
              </tr>

              <!--            <tr>

                <td>Average Wind</td>

                <td>$month($months_ago=12).wind.avg</td>

                <td></td>

              </tr>

              <tr>

                <td>RMS Wind</td>

                <td>$month($months_ago=12).wind.rms</td>

                <td></td>

              </tr>

              <tr>

                <td>Vector Average Speed</td>

                <td>$month($months_ago=12).wind.vecavg</td>

                <td></td>

              </tr>

              <tr>

                <td>Vector Average Direction</td>

                <td>$month($months_ago=12).wind.vecdir</td>

                <td></td>

              </tr>

              <tr>-->

              #if $month($months_ago=12).extraTemp1.has_data

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.extraTemp1 $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).extraTemp1.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).extraTemp1.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.extraTemp1 $obs.label.minF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).extraTemp1.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).extraTemp1.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $month($months_ago=12).UV.has_data
              <!-- prettier-ignore-end -->

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.UV $obs.label.maxM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).UV.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).UV.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.UV $obs.label.minM:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).UV.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).UV.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $month($months_ago=12).ET.has_data and $month.ET.sum.raw > 0.0
              <!-- prettier-ignore-end -->

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.ET $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).ET.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).ET.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.ET $obs.label.minF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).ET.min
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).ET.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $month($months_ago=12).radiation.has_data
              <!-- prettier-ignore-end -->

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.radiation $obs.label.maxF:
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).radiation.max
                </td>

                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $month($months_ago=12).radiation.maxtime
                </td>
              </tr>

              <tr class="hover:bg-weather-cool/10 group">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 pl-4 group-hover:rounded-bl-2xl"
                >
                  $obs.label.radiation $obs.label.minF:
                </td>

                <td class="py-2 text-gray-900">
                  $month($months_ago=12).radiation.min
                </td>

                <td
                  class="py-2 text-gray-900 group-hover:rounded-br-2xl"
                >
                  $month($months_ago=12).radiation.mintime
                </td>
              </tr>

              #end if
            </table>
          </div>
        </div>

        <div class="lg:col-span-3">
          <div class="bg-weather-cool/6 rounded-2xl p-4">
            <h1 class="text-xl text-gray-800 pb-4">$obs.label.monthyCharts</h1>

            <img
              src="http://www.meteocalalzodicadore.altervista.org/monthtempdew.png?$current.dateTime.raw"
              alt="temperatures"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/monthrain.png?$current.dateTime.raw"
              alt="rain"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/monthwind.png?$current.dateTime.raw?$current.dateTime.raw"
              alt="wind"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/monthwinddir.png?$current.dateTime.raw"
              alt="Hi Wind"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/monthwindvec.png?$current.dateTime.raw"
              alt="Wind Vector"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/monthtempchill.png?$current.dateTime.raw"
              alt="heatchill"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/monthbarometer.png?$current.dateTime.raw"
              alt="barometer"
              class="mb-4 rounded-xl"
            />

            <!--      <img src="http://www.meteocalalzodicadore.altervista.org/monthinside.png?$current.dateTime.raw" alt="Inside" />

            <img src="http://www.meteocalalzodicadore.altervista.org/monthinhumid.png?$current.dateTime.raw" alt="Inside/Outside Humidity" />  -->

            #if $month.UV.has_data

            <img src="monthuv.png" alt="UV Index" />
            <!-- prettier-ignore -->
            #end if 
            #if $month.radiation.has_data
            <!-- prettier-ignore-end -->

            <img src="monthradiation.png" alt="Radiation" />
            <!-- prettier-ignore -->
            #end if 
            #if $month.UV.has_data
            <!-- prettier-ignore-end -->

            <img src="monthuv.png" alt="UV Index" />
            <!-- prettier-ignore -->
            #end if 
            #if $month.rxCheckPercent.has_data
            <!-- prettier-ignore-end -->

            <img src="monthrx.png" alt="month rx percent" />
            <!-- prettier-ignore -->
            #end if 
            #if $month.extraTemp1.has_data
            <!-- prettier-ignore-end -->

            <img src="monthpond.png" alt="Pond Temperaturas" />

            #end if
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    #include "templates/footer.html.tmpl"
    <!-- End footer-->

    <script>
      const btn = document.querySelector("button.mobile-menu-button");

      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
