#set global $page = "summary"

<!DOCTYPE html>
<html lang="en">
  #include "templates/head.html.tmpl"
  <body>
    <!-- Header -->
    #import "templates/header.html.tmpl"
    <!-- End header -->
    <!-- Main container -->
    <main class="mx-4">
      <div
        class="container mx-auto grid grid-cols-1 lg:grid-cols-5 gap-6 py-4"
      >
        <div class="lg:col-span-2">
          <div class="bg-weather-cool/6 rounded-2xl">
            <h1 class="text-xl text-gray-800 px-4 pt-4">
              Record di sempre
            </h1>
            <table class="w-full table-fixed border-collapse mt-2">
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <b>Temperatura esterna</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massima
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Minima
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.mintime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Minima più alta
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.minmax
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.minmaxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massima più bassa
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.maxmin
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.maxmintime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>Punto di rugiada</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massimo
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.dewpoint.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.dewpoint.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Minimo
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.dewpoint.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>Precipitazioni</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Pioggia giornaliera massima
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.rain.maxsum
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.rain.maxsumtime.format("%m/%d/%Y")
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Rain Rate massimo
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.rainRate.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.rainRate.maxtime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>Indice di calore</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massimo
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.heatindex.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>Pressione atmosferica</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massima
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.barometer.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.barometer.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Minima
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.barometer.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.barometer.mintime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>Vento</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massimo sostenuto
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.windSpeed.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.windSpeed.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Raffica massima
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.windGust.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.windGust.maxtime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>Wind Chill</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10 group">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 pl-4 group-hover:rounded-bl-2xl"
                >
                  Massimo
                </td>
                <td class="py-2 text-gray-900">$alltime.windchill.min</td>
                <td
                  class="py-2 text-gray-900 group-hover:rounded-br-2xl"
                >
                  $alltime.windchill.mintime
                </td>
              </tr>
              <!--
              <tr>
                <td colspan="3"><br><b>House Temperatures</b></td>
              </tr>
              <tr>
                <td>Highest</td>
                <td>$alltime.inTemp.max</td>
                <td>$alltime.inTemp.maxtime</td>
              </tr>
              <tr>
                <td>Lowest</td>
                <td>$alltime.inTemp.min</td>
                <td>$alltime.inTemp.mintime</td>
              </tr>
              <tr>
                <td colspan="3"><br><b>House Humidity</b></td>
              </tr>
              <tr>
                <td>Highest</td>
                <td>$alltime.inHumidity.max</td>
                <td>$alltime.inHumidity.maxtime</td>
              </tr>
              <tr>
                <td>Lowest</td>
                <td>$alltime.inHumidity.min</td>
                <td>$alltime.inHumidity.mintime</td>
              </tr>
              -->
            </table>
          </div>
          <div class="bg-weather-cool/6 mt-4 rounded-2xl">
            <h1 class="text-xl text-gray-800 px-4 pt-4">
              Numero di giorni con dati registrati
            </h1>
            <div class="p-4">$temp_count_table</div>
          </div>
        </div>
        <div class="lg:col-span-3">
          <div class="bg-weather-cool/6 rounded-2xl p-4">
            <h1 class="text-xl text-gray-800 pb-4">Report mensili</h1>
            <div class="noaatable overflow-x-auto">$NOAA_table</div>
          </div>
          <div class="bg-weather-cool/6 rounded-2xl p-4 mt-4">
            <h1 class="text-xl text-gray-800 pb-4">
              Temperatura media mensile (°C)
            </h1>
            <div class="tablefix overflow-x-auto">$avg_temp_table</div>
          </div>
          <div class="bg-weather-cool/6 rounded-2xl p-4 mt-4">
            <h1 class="text-xl text-gray-800 pb-4">
              Pioggia totale mensile (mm)
            </h1>
            <div class="tablefix overflow-x-auto">$rain_table</div>
          </div>
          <div class="bg-weather-cool/6 rounded-2xl p-4 mt-4">
            <h1 class="text-xl text-gray-800 pb-4">
              Numero di giorni di pioggia (>=0.5mm)
            </h1>
            <div class="tablefix overflow-x-auto">$rain_count_table</div>
          </div>
          <!--
          <div class="card">
            <h1><i class="fa fa-thermometer-half m-rot" ></i> Average House Temperature by Month</h1>
            <div class="tablefix">
              $avg_htemp_table
            </div>
          </div>
          -->
        </div>
      </div>
    </main>
    <!-- Footer -->
    #include "templates/footer.html.tmpl" 
    <!-- End footer-->
    <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
