@import "tailwindcss";
@config "./tailwind.config.js";

/* Regole per il weather toggle */
#webcam:checked ~ .weather-container .webcam-image {
  display: block;
}
#webcam:checked ~ .weather-container .radar-image {
  display: none;
}
#webcam:checked ~ .weather-container .webcam-btn {
  @apply bg-white/30 text-gray-800;
}
#webcam:checked ~ .weather-container .radar-btn {
  @apply text-gray-600;
}
#radar:checked ~ .weather-container .radar-image {
  display: block;
}
#radar:checked ~ .weather-container .webcam-image {
  display: none;
}
#radar:checked ~ .weather-container .radar-btn {
  @apply bg-white/30 text-gray-800;
}
#radar:checked ~ .weather-container .webcam-btn {
  @apply text-gray-600;
}
