@import "tailwindcss";
@config "./tailwind.config.js";

/* Regole per il weather toggle */
#webcam:checked ~ .weather-container .webcam-image {
  display: block;
}
#webcam:checked ~ .weather-container .radar-image {
  display: none;
}
#webcam:checked ~ .weather-container .webcam-btn {
  @apply bg-white/30 text-gray-800;
}
#webcam:checked ~ .weather-container .radar-btn {
  @apply text-gray-600;
}
#radar:checked ~ .weather-container .radar-image {
  display: block;
}
#radar:checked ~ .weather-container .webcam-image {
  display: none;
}
#radar:checked ~ .weather-container .radar-btn {
  @apply bg-white/30 text-gray-800;
}
#radar:checked ~ .weather-container .webcam-btn {
  @apply text-gray-600;
}
/* header */
.header-active-pc {
  @apply px-3 py-2 text-white text-lg font-medium border-b-2 border-white/80 transition-colors hover:bg-white/10 rounded-t-md;
}
.header-inactive-pc {
  @apply px-3 py-2 text-white/80 text-lg transition-colors hover:text-white hover:bg-white/10 rounded-t-md;
}
.header-active-mobile {
  @apply block px-3 py-3 text-white text-lg bg-white/10 rounded-lg font-medium;
}
.header-inactive-mobile {
  @apply block px-3 py-3 text-white/80 text-lg rounded-lg transition-colors hover:text-white hover:bg-white/10;
}