
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Calalzo di Cadore</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000; 
        }
        .responsive_image {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            display: block;
        }
    </style>
    <!-- Umami -->
    <script
      async
      src="https://analytics.umami.is/script.js"
      data-website-id="2e66cfde-2766-46b3-9883-193bcb330af9"
    ></script>

</head>
<body>
    <img id="webcam_img" class="responsive_image" src="webcam/webcam.jpg?$current.dateTime.raw" alt="Webcam Live" title="Webcam Live"></body>
</html>

