#set global $page = "week"

<!DOCTYPE html>

<html class="no-js">
  #include "templates/head.html.tmpl"

  <body>
    <!-- Header -->
    #include "templates/header.html.tmpl"
    <!-- End header -->

    <main class="mx-4">
      <div
        class="container mx-auto grid grid-cols-1 lg:grid-cols-5 gap-6 py-4"
      >
        <div class="lg:col-span-2">
          <div class="bg-weather-cool/6 rounded-2xl">
            <h1 class="text-xl text-gray-800 px-4 pt-4">
              Questa settimana ($week.start.format("%d-%m-%Y") -
              $week.end.format("%d-%m-%Y"))
            </h1>

            <table class="w-full table-fixed border-collapse mt-2">
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Temperatura massima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.outTemp.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.outTemp.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Temperatura minima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.outTemp.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.outTemp.mintime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Punto di rugiada massimo:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.dewpoint.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.dewpoint.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Punto di rugiada minimo:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.dewpoint.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.dewpoint.mintime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Umidità massima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.outHumidity.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.outHumidity.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Umidità minima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.outHumidity.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.outHumidity.mintime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Pressione massima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.barometer.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.barometer.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Pressione minima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.barometer.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.barometer.mintime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Pioggia totale:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.rain.sum
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                ></td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Velocità massima del vento:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.wind.max $week.wind.gustdir
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.wind.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Velocità media del vento:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.wind.avg
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                ></td>
              </tr>
              #if $week.extraTemp1.has_data
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massima Pond Temp:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.extraTemp1.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.extraTemp1.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Minima Pond Temp:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.extraTemp1.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.extraTemp1.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $week.UV.has_data
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massima UV:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.UV.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.UV.maxtime
                </td>

              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Minima UV:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.UV.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.UV.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $week.ET.has_data and $week.ET.sum.raw > 0.0
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massima ET:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.ET.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.ET.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Minima ET:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.ET.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.ET.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $week.radiation.has_data
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massima Radiation:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.radiation.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $week.radiation.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10 group">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 pl-4 group-hover:rounded-bl-2xl"
                >
                  Minima Radiation:
                </td>
                <td class="py-2 text-gray-900">$week.radiation.min</td>
                <td
                  class="py-2 text-gray-900 group-hover:rounded-br-2xl"
                >
                  $week.radiation.mintime
                </td>
              </tr>
              #end if
            </table>
          </div>

          <div class="bg-weather-cool/6 mt-4 rounded-2xl">
            <h1 class="text-xl text-gray-800 px-4 pt-4">
              Ieri ($yesterday.dateTime.format("%d-%b-%Y"))
            </h1>

            <table class="w-full table-fixed border-collapse mt-2">
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Temperatura massima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.outTemp.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.outTemp.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Temperatura minima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.outTemp.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.outTemp.mintime
                </td>
              </tr>

              <!--<tr>

    <td>massima Heat Index</td>

    <td>$yesterday.heatindex.max</td>

    <td>$yesterday.heatindex.maxtime</td>

  </tr>

-->

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Wind Chill minimo:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.windchill.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.windchill.mintime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Punto di rugiada massimo:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.dewpoint.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.dewpoint.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Punto di rugiada minimo:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.dewpoint.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.dewpoint.mintime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Umidità massima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.outHumidity.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.outHumidity.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Umidità minima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.outHumidity.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.outHumidity.mintime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Pressione massima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.barometer.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.barometer.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Pressione minima:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.barometer.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.barometer.mintime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Pioggia:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.rain.sum
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                ></td>
              </tr>

              <!--          <tr>

    <td>massima Rain Rate</td>

    <td>$yesterday.rainRate.max</td>

    <td>$yesterday.rainRate.maxtime</td>

  </tr> -->

              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Velocità massima del vento:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.wind.max $day.wind.gustdir
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.wind.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Velocità media del vento:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.wind.avg
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                ></td>
              </tr>

              <!--    <tr>

    <td>Vector Average Direction</td>

    <td>$yesterday.wind.vecdir</td>

    <td></td>

  </tr>

  <tr>

    <td>massima Inside Temperatura</td>

    <td>$yesterday.inTemp.max</td>

    <td>$yesterday.inTemp.maxtime</td>

  </tr>

  <tr>

    <td>Minima Inside Temperatura</td>

    <td>$yesterday.inTemp.min</td>

    <td>$yesterday.inTemp.mintime</td>

  </tr> -->

              #if $day.extraTemp1.has_data
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massima Pond Temp:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.extraTemp1.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.extraTemp1.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Minima Pond Temp:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.extraTemp1.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.extraTemp1.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $yesterday.UV.has_data
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massima UV:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.UV.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.UV.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Minima UV:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.UV.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.UV.mintime
                </td>
              </tr>
              <!-- prettier-ignore -->
              #end if 
              #if $day.radiation.has_data
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  Massima Radiation:
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.radiation.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $yesterday.radiation.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10 group">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 pl-4 group-hover:rounded-bl-2xl"
                >
                  Minima Radiation:
                </td>
                <td class="py-2 text-gray-900">
                  $yesterday.radiation.min
                </td>
                <td
                  class="py-2 text-gray-900 group-hover:rounded-br-2xl"
                >
                  $yesterday.radiation.mintime
                </td>
              </tr>
              #end if
            </table>
          </div>
        </div>

        <div class="lg:col-span-3">
          <div class="bg-weather-cool/6 rounded-2xl p-4">
            <h1 class="text-xl text-gray-800 pb-4">
              Grafici settimanali
            </h1>

            <img
              src="http://www.meteocalalzodicadore.altervista.org/weektempdew.png?$current.dateTime.raw"
              alt="temperatures"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/weekrain.png?$current.dateTime.raw"
              alt="rain"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/weekwind.png?$current.dateTime.raw"
              alt="wind"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/weekwinddir.png?$current.dateTime.raw"
              alt="Hi Wind"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/weekwindvec.png?$current.dateTime.raw"
              alt="Wind Vector"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/weektempchill.png?$current.dateTime.raw"
              alt="heatchill"
              class="mb-4 rounded-xl"
            />

            <img
              src="http://www.meteocalalzodicadore.altervista.org/weekbarometer.png?$current.dateTime.raw"
              alt="barometer"
              class="mb-4 rounded-xl"
            />

            <!--        <img src="weekinside.png" alt="Inside" />

            <img src="weekinhumid.png" alt="Inside/Outside Humidity" /></img> -->

            #if $week.UV.has_data

            <img src="weekuv.png" alt="UV index" />

            <!-- prettier-ignore -->
            #end if 
            #if $week.radiation.has_data

            <img src="weekradiation.png" alt="Radiation" />
            <!-- prettier-ignore -->
            #end if 
            #if $week.UV.has_data

            <img src="weekuv.png" alt="UV Index" />
            <!-- prettier-ignore -->
            #end if 
            #if $week.rxCheckPercent.has_data

            <img src="weekrx.png" alt="week rx percent" />
            <!-- prettier-ignore -->
            #end if 
            #if $week.extraTemp1.has_data

            <img src="weekpond.png" alt="Pond Temperatura" />

            #end if
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    #include "templates/footer.html.tmpl"
    <!-- End footer-->

    <script>
      const btn = document.querySelector("button.mobile-menu-button");

      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
