{
    "outTemp": $day.outTemp.series(time_series='start').json,
    "outHumidity": $day.outHumidity.series(time_series='start').json,
    "dewpoint": $day.dewpoint.series(time_series='start').json,
    "barometer": $day.barometer.series(time_series='start').json,
    "windchill": $day.windchill.series(time_series='start').json,
    "heatindex": $day.heatindex.series(time_series='start').json,
    "rain": $day.rain.series(time_series='start').json,
    "rainrate": $day.rainRate.series(time_series='start').json
}