#set $all_series = $span($day_delta=1)
#set $obs_to_include = {
  "outTemp": $all_series.outTemp.round(2),
  "outHumidity": $all_series.outHumidity.round(2),
  "dewpoint": $all_series.dewpoint.round(2),
  "barometer": $all_series.barometer.round(2),
  "windchill": $all_series.windchill.round(2),
  "heatindex": $all_series.heatindex.round(2),
  "rain": $all_series.rain.round(2),
  "rainrate": $all_series.rainRate.round(2),
  "windSpeed": $all_series.windSpeed.round(2),
  "gustSpeed": $all_series.windGust.round(2),
  "windDir": $all_series.windDir.round(2)
}
{
  "dateTime": $all_series.dateTime.raw,
#for $key, $series in $obs_to_include.items()
  "$key": $series.raw#if not $stop_for, #end if
#end for
}
