#set global $page = "summary"

<!DOCTYPE html>
<html lang="$lang">
  #include "templates/head.html.tmpl"
  <body>
    <!-- Header -->
    #include "templates/header.html.tmpl"
    <!-- End header -->
    <!-- Main container -->
    <main class="mx-4">
      <div
        class="container mx-auto grid grid-cols-1 lg:grid-cols-5 gap-6 py-4"
      >
        <div class="lg:col-span-2">
          <div class="bg-weather-cool/6 rounded-2xl">
            <h1 class="text-xl text-gray-800 px-4 pt-4">
              $obs.label.allTimeRecords
            </h1>
            <table class="w-full table-fixed border-collapse mt-2">
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <b>$obs.label.outTemp</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.maxF.capitalize()
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.minF.capitalize()
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.mintime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.minmax
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.minmax
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.minmaxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.maxmin
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.maxmin
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.outTemp.maxmintime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>$obs.label.dewpoint</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.maxM.capitalize()
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.dewpoint.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.dewpoint.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.minM.capitalize()
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.dewpoint.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>$obs.label.precipitations</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.dailyRainMax
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.rain.maxsum
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.rain.maxsumtime.format("%m/%d/%Y")
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.rainRate $obs.label.maxM
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.rainRate.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.rainRate.maxtime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>$obs.label.heatindex</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.maxM.capitalize()
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.heatindex.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>$obs.label.barometer</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.maxF.capitalize()
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.barometer.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.barometer.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.minF.capitalize()
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.barometer.min
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.barometer.mintime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>$obs.label.wind</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.windSpeed $obs.label.maxM
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.windSpeed.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.windSpeed.maxtime
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  $obs.label.windGust $obs.label.maxF
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.windGust.max
                </td>
                <td
                  class="py-2 text-gray-900 border-b border-gray-200"
                >
                  $alltime.windGust.maxtime
                </td>
              </tr>
              <tr>
                <td
                  colspan="3"
                  class="pr-10 py-2 font-medium text-gray-900 border-b border-gray-200 pl-4"
                >
                  <br /><b>$obs.label.windchill</b>
                </td>
              </tr>
              <tr class="hover:bg-weather-cool/10 group">
                <td
                  class="pr-10 py-2 font-medium text-gray-900 pl-4 group-hover:rounded-bl-2xl"
                >
                  $obs.label.maxM.capitalize()
                </td>
                <td class="py-2 text-gray-900">$alltime.windchill.min</td>
                <td
                  class="py-2 text-gray-900 group-hover:rounded-br-2xl"
                >
                  $alltime.windchill.mintime
                </td>
              </tr>
            </table>
          </div>
          <div class="bg-weather-cool/6 mt-4 rounded-2xl">
            <h1 class="text-xl text-gray-800 px-4 pt-4">
              $obs.label.numberOfDataDays
            </h1>
            <div class="p-4 overflow-x-auto">$temp_count_table</div>
          </div>
        </div>
        <div class="lg:col-span-3">
          <div class="bg-weather-cool/6 rounded-2xl p-4">
            <h1 class="text-xl text-gray-800 pb-4">$obs.label.monthlyReports</h1>
            <div class="noaatable overflow-x-auto">$NOAA_table</div>
          </div>
          <div class="bg-weather-cool/6 rounded-2xl p-4 mt-4">
            <h1 class="text-xl text-gray-800 pb-4">
              $obs.label.avgTemp
            </h1>
            <div class="tablefix overflow-x-auto">$avg_temp_table</div>
          </div>
          <div class="bg-weather-cool/6 rounded-2xl p-4 mt-4">
            <h1 class="text-xl text-gray-800 pb-4">
              $obs.label.totalRain
            </h1>
            <div class="tablefix overflow-x-auto">$rain_table</div>
          </div>
          <div class="bg-weather-cool/6 rounded-2xl p-4 mt-4">
            <h1 class="text-xl text-gray-800 pb-4">
              $obs.label.daysWithRain
            </h1>
            <div class="tablefix overflow-x-auto">$rain_count_table</div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    #include "templates/footer.html.tmpl" 
    <!-- End footer-->
  </body>
</html>
