<footer class="bg-weather-cool/80 p-8 text-white">
    <div class="container mx-auto">
    <div class="table">
        <div class="table-row">
        <div class="table-cell pr-2">$obs.label.stationHw:</div>
        <div class="table-cell pr-2">$station.hardware</div>
        </div>
        <div class="table-row">
        <div class="table-cell pr-2">$obs.label.stationSw:</div>
        <div class="table-cell pr-2">WeeWX v$station.version</div>
        </div>
        <div class="table-row">
        <div class="table-cell pr-2">$obs.label.weewxUptime:</div>
        <div class="table-cell pr-2">$station.uptime.long_form</div>
        </div>
        <div class="table-row">
        <div class="table-cell pr-2">$obs.label.serverUptime:</div>
        <div class="table-cell pr-2">
            $station.os_uptime.long_form
        </div>
        </div>
    </div>
    <a href="$Extras.cronitor_url" class="underline mt-2">$obs.label.cronitorMessage</a>
    <hr class="h-px my-4 bg-blue-200 border-0" />
    <div class="flex flex-row flex-wrap">
        <p class="mr-2">
        $obs.label.poweredBy <a href="weewx.com" class="underline">Weewx</a>.
        </p>
        <p class="mr-2">|</p>
        <p class="mr-2">
        Non prendere decisioni importanti con le informazioni di questo
        sito.
        </p>
        <p class="mr-2">|</p>
        <p class="mr-2">
        © $latest.dateTime.format("%Y") $Extras.copyright_name.
        </p>
        <p class="mr-2">|</p>
        <p class="mr-2">
        <a href="mailto:$Extras.email" class="underline"
            >$obs.label.contactUs</a
        >
        </p>
        <p class="mr-2">|</p>
        <p class="mr-2">
        <a
            href="https://github.com/NikoFresh/MCC-sofaskin"
            class="underline"
        >
            <i class="fa-brands fa-github"></i> GitHub
        </a>
        </p>
    </div>
    </div>
</footer>